In [41]:
import pandas as pd
import json

hero_powers = pd.read_csv('CSV/superhero_powers - superhero_powers.csv')

hero_info = pd.read_csv('CSV/superhero_info - superhero_info.csv')

In [42]:
hero_info.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [43]:
hero_powers.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [44]:
hero_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [45]:
hero_info.duplicated().sum()

0

In [46]:
hero_info.isna().sum()

Hero|Publisher    0
Gender            0
Race              0
Alignment         0
Hair color        0
Eye color         0
Skin color        0
Measurements      0
dtype: int64

In [47]:
hero_powers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [48]:
hero_powers.duplicated().sum()

0

In [49]:
hero_powers.isna().sum()

hero_names    0
Powers        0
dtype: int64

In [50]:
hero_publisher = hero_info.loc[0, "Hero|Publisher"]

print(type(hero_publisher))

hero_publisher

<class 'str'>

'A-Bomb|Marvel Comics'

In [51]:
measurements = hero_info.loc[0, 'Measurements']
measurements

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [52]:
measurements = measurements.replace("'", '"')
measurements

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [53]:
fixed_measurements = json.loads(measurements)
print(type(fixed_measurements))
fixed_measurements

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [54]:
hero_info['Measurements'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 463 entries, 0 to 462
Series name: Measurements
Non-Null Count  Dtype
--------------  -----
463 non-null    object
dtypes: object(1)
memory usage: 3.7+ KB

In [55]:
hero_info['Measurements'] = hero_info['Measurements'].str.replace("'", '"')

In [56]:
hero_info['Measurements'] = hero_info['Measurements'].apply(json.loads)
hero_info['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [58]:
test_measurement = hero_info.loc[0,'Measurements']
print(type(test_measurement))
test_measurement

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [60]:
height_weight = hero_info['Measurements'].apply(pd.Series)
height_weight

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [61]:
hero_info = pd.concat((hero_info, height_weight), axis = 1)
hero_info.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Height,Weight
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",203.0 cm,441.0 kg
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",191.0 cm,65.0 kg

In [63]:
hero_info = hero_info.drop(columns = ['Measurements'])

In [71]:
hero_info.loc[2,'Hero|Publisher']

'Abin Sur|DC Comics'

In [79]:
print(type(hero_powers['Powers']))

<class 'pandas.core.series.Series'>